{% extends "base.tf.j2" %}

{% block environment_resources scoped %}
{{ super() }}

resource "google_storage_bucket" "{{ environment.instance_name }}" {
  name     = "{{ environment.instance_name }}-bucket"
  location = "{{ env_collection.region }}"
  force_destroy = true

  uniform_bucket_level_access = true
  public_access_prevention = "inherited"
}

resource "google_storage_bucket_iam_member" "public_read" {
  bucket = google_storage_bucket.custom_bucket.name
  role   = "roles/storage.objectViewer"
  member = "allUsers"
}
{% endblock %}