{% extends "base.tf.j2" %}

{% block environment_resources %}
{{ super() }}

locals {
  region = "{{ env_collection.region }}"
}

# Custom Cloud Run service
resource "google_cloud_run_service" "custom_service" {
  name     = "custom-service-{{ environment.name }}"
  location = local.region

  template {
    spec {
      containers {
        image = "gcr.io/cloudrun/hello"
        env {
          name  = "MY_CUSTOM_VAR"
          value = "{{ config_renderer.environment_items.MY_CUSTOM_VAR }}"
        }
      }
    }
  }

  traffic {
    percent         = 100
    latest_revision = true
  }
}

# IAM binding for the custom service
resource "google_cloud_run_service_iam_member" "custom_service_invoker" {
  service  = google_cloud_run_service.custom_service.name
  location = google_cloud_run_service.custom_service.location
  role     = "roles/run.invoker"
  member   = "allUsers"
}

# Output the custom service URL
output "custom_service_url" {
  value = google_cloud_run_service.custom_service.status[0].url
}
{% endblock %}